<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDoList</title>
  </head>
  <body>
    <% if(kindOfDay === "Monday" || kindOfDay ==="Sunday"){%>
    <h1 style="color: purple;"><%= kindOfDay %>'s ToList</h1>
    <%}else{%>
    <h1 style="color: blue;"><%= kindOfDay %>'s ToList</h1>
    <% } %>
  </body>
</html>
